---
// FooterHero.astro
---

<section
  class="w-full min-h-[60vh] flex items-center justify-center py-16 px-4 bg-gradient-to-b from-white to-blue-100"
>
  <div class="max-w-3xl mx-auto text-center">
    <h1 class="text-5xl font-medium leading-tight mb-6">
      Dale
      <span class="text-blue-500">superpoderes</span> a tu equipo
    </h1>
    <p class="text-base md:text-lg text-gray-800 max-w-3xl mx-auto mb-10">
      Estavia es un agente de IA personalizado para agencias inmobiliarias en España. Combinamos inteligencia artificial
      avanzada con gestión centralizada de datos. Cada interacción con tus clientes potenciales se optimiza sin que
      tengas que levantar un dedo.
    </p>
    <div class="mt-8">
      <a href="/bookdemo/" class="cta-gradient transition duration-300"> Solicita una prueba gratuita </a>
    </div>
  </div>
</section>
