---
import { Icon } from 'astro-icon/components';
---

<div id="hero" class="max-w-4xl mx-auto px-4 py-16 text-center relative">
  {/* Main Heading */}
  <!-- <h1 class="text-5xl font-bold mb-4">
    Gestiona tu inmobiliaria
    <br />
    <span class="text-primary">en piloto autom치tico</span>
  </h1> -->
  <!-- <h1 class="text-5xl font-bold mb-4">
    Potencia tu Agencia Inmobiliaria con
    <br />
    <span class="text-primary">Inteligencia Artificial</span>
  </h1> -->
  <!-- <h1 class="text-5xl font-bold mb-4">
    Cierra operaciones <span class="hidden md:inline">inmobiliarias</span> en la
    <span class="text-primary">mitad de tiempo</span>, sin papeles ni llamadas
  </h1> -->

  <h1 class="text-5xl font-bold mb-4">
    Tu nuevo
    <span class="text-primary">agente inmobiliario</span> de inteligencia artificial
  </h1>

  <p class="text-gray-600 text-xl max-w-2xl mx-auto mb-8">
    <span class="inline-flex items-center mr-1">
      <Icon name="estavia-logo" class="text-md inline" />
    </span>
    analiza y califica autom치ticamente cada lead que entra en tu agencia, identificando a los clientes con mayor probabilidad
    de compra y liber치ndote del trabajo manual.
  </p>

  <a href={`/reservar-demostracion/`} class="cta-gradient text-lg font-semibold">
    Descubre c칩mo calificar tus leads con IA
  </a>

  {/* Space to allow for video overflow */}
  <div class="h-20"></div>
</div>
