---
// Hero.astro
---

<div id="hero" class="max-w-4xl mx-auto px-4 py-16 text-center relative">
  {/* Main Heading */}
  <!-- <h1 class="text-5xl font-bold mb-4">
    Gestiona tu inmobiliaria
    <br />
    <span class="text-primary">en piloto automático</span>
  </h1> -->

  <h1 class="text-5xl font-bold mb-4">
    Gestiona <span class="text-primary">+100 interesados</span> al día
    <br />
    sin papeleo ni llamadas
  </h1>

  {/* Description */}
  <p class="text-gray-600 text-xl max-w-2xl mx-auto mb-8">
    Automatiza tu agencia inmobiliaria con un CRM e IA que te permite gestionar tus propiedades, clientes, visitas, y
    colaboradores desde cualquier lugar.
  </p>

  {/* CTA Button */}
  <a href="/bookdemo/" class="cta-gradient text-lg font-semibold"> Empieza a automatizar tu agencia </a>

  {/* Space to allow for video overflow */}
  <div class="h-20"></div>
</div>
