---
import Brands from '@/components/landing/Brands.astro';
import DemoVideo from '@/components/landing/DemoVideo.astro';
import FAQ from '@/components/landing/FAQ.astro';
import Features from '@/components/landing/Features.astro';
import FooterHero from '@/components/landing/FooterHero.astro';
import AboutUs from '@/components/landing/AboutUs.astro';
import Testimonials from '@/components/landing/Testimonials.astro';
import Transformation from '@/components/landing/Transformation.astro';
import PageLayout from '@/layouts/PageLayout.astro';
import { Icon } from 'astro-icon/components';
---

<PageLayout>
  <section id="hero">
    <div class="max-w-4xl mx-auto px-4 py-16 text-center relative">
      <h1 class="text-5xl font-bold mb-4">
        El mejor CRM inmobiliario con
        <span class="text-primary">IA integrada</span>
      </h1>

      {/* Description */}
      <!-- <p class="text-gray-600 text-xl max-w-2xl mx-auto mb-8">
        Automatiza la gestión de clientes, propiedades y visitas para que puedas centrarte en cerrar más operaciones.
      </p> -->
      <p class="text-gray-600 text-xl max-w-2xl mx-auto mb-8">
        <span class="inline-flex items-center mr-1"><Icon name="estavia-logo" class="text-md inline" /></span> es <span
          class="font-bold">mucho más</span
        >
        que un CRM.<br /><br /> Descubre el agente de inteligencia artificial que trabaja las 24 horas del día, analizando
        y gestionando tus clientes, inmuebles y visitas.
      </p>

      {/* CTA Button */}
      <a href={`/reservar-demostracion/`} class="cta-gradient text-lg font-semibold">
        Automatiza tus operaciones hoy
      </a>

      {/* Space to allow for video overflow */}
      <div class="h-20"></div>
    </div>
  </section>

  <section id="demovideo">
    <DemoVideo />
  </section>

  <div class="w-80 max-w-7xl mx-auto px-4 my-4">
    <hr class="border-gray-200" />
  </div>

  <section id="social-proof-brands">
    <Brands
      brands={[
        // { name: 'VoHome', icon: 'logo-vohome', width: 120 },
        { name: 'Emissary', icon: 'logo-emissary', width: 120 },
        { name: 'Rentake', icon: 'logo-rentake', width: 120 },
      ]}
    />
  </section>

  <div class="w-80 max-w-7xl mx-auto px-4 my-4">
    <hr class="border-gray-200" />
  </div>

  <section id="transformation">
    <Transformation />
  </section>

  <section id="funcionalidades">
    <Features />
  </section>

  <section id="social-proof">
    <Testimonials />
  </section>

  <section id="sobre-nosotros">
    <AboutUs />
  </section>

  <section id="faq">
    <FAQ />
  </section>

  <section id="footer-hero">
    <FooterHero />
  </section>
</PageLayout>
