---
import Layout from '~/layouts/PageLayout.astro'
import Hero from '~/components/widgets/Hero.astro'
import CallToAction from '~/components/widgets/CallToAction.astro'
import Content from '~/components/widgets/Content.astro'
import FAQs from '~/components/widgets/FAQs.astro'
import Testimonials from '~/components/widgets/Testimonials.astro'
import HeroText from '~/components/widgets/HeroText.astro'

// Import getpermalink
import { getPermalink } from '~/utils/permalinks'
// import { Icon } from 'astro-icon/components'
import FeaturesContent from '~/components/widgets/FeaturesContent.astro'

import 'aos/dist/aos.css' // AOS styles
import SocialProofPeople from '~/components/widgets/SocialProofPeople.astro'

const metadata = {
  title: 'Home'
}
---

<Layout metadata={metadata} hasInitialBg>
  <div class=''>
    <!-- 1. Hero block -->
    <Hero
      actions={[
        {
          variant: 'primary',
          text: 'Pruébalo gratis',
          href: getPermalink('/inquiry'),
          icon: 'tabler:rocket'
        },
        { text: 'Cómo funciona', href: '#features' }
      ]}
    >
      <!-- Title and Subtitle -->
      <Fragment slot='title'>
        De interesados a visitas <span
          class='text-accent dark:text-white highlight'>en minutos</span
        >
      </Fragment>
      <Fragment slot='subtitle'>
        Convierte automáticamente tus contactos de Idealista en citas
        programadas para visitar tus inmuebles. Sin llamadas telefónicas.
      </Fragment>

      <!-- Social proof people -->
      <Fragment slot='content'>
        <SocialProofPeople
          images={[
            {
              src: 'https://cdn.feather.blog?src=https%3A%2F%2Ffeather.so%2Fimages%2Flanding%2Favatars%2Fana.png',
              alt: 'Ana'
            },
            {
              src: 'https://cdn.feather.blog?src=https%3A%2F%2Ffeather.so%2Fimages%2Flanding%2Favatars%2Fanthony.png',
              alt: 'Anthony'
            },
            {
              src: 'https://cdn.feather.blog?src=https%3A%2F%2Ffeather.so%2Fimages%2Flanding%2Favatars%2Fayush.png',
              alt: 'Ayush'
            },
            {
              src: 'https://cdn.feather.blog?src=https%3A%2F%2Ffeather.so%2Fimages%2Flanding%2Favatars%2Fdamon.png',
              alt: 'Damon'
            },
            {
              src: 'https://cdn.feather.blog?src=https%3A%2F%2Ffeather.so%2Fimages%2Flanding%2Favatars%2Froberto.png',
              alt: 'Roberto'
            },
            {
              src: 'https://cdn.feather.blog?src=https%3A%2F%2Ffeather.so%2Fimages%2Flanding%2Favatars%2Falex.png',
              alt: 'Alex MacCaw'
            },
            {
              src: 'https://cdn.feather.blog?src=https%3A%2F%2Ffeather.so%2Fimages%2Flanding%2Favatars%2Ftibo.png',
              alt: 'Tibo'
            },
            {
              src: 'https://cdn.feather.blog?src=https%3A%2F%2Ffeather.so%2Fimages%2Flanding%2Favatars%2Fcorey.png',
              alt: 'Corey Haines'
            },
            {
              src: 'https://cdn.feather.blog?src=https%3A%2F%2Ffeather.so%2Fimages%2Flanding%2Favatars%2Fvensy.png',
              alt: 'Vensy'
            },
            {
              src: 'https://cdn.feather.blog?src=https%3A%2F%2Ffeather.so%2Fimages%2Flanding%2Favatars%2Ftom.png',
              alt: 'Tom'
            }
          ]}
        >
          <Fragment slot='content'>
            <p
              class='mt-4 text-center text-base text-gray-900 dark:text-gray-200 md:mt-0 md:ml-4'
            >
              <span class='block'
                >Únete a los<!-- -->
                <span class='font-semibold'>100+ agentes inmobiliatios</span>
              </span><span class='block'
                >que ya están ahorrando cientos de horas</span
              >
            </p>
          </Fragment>
        </SocialProofPeople>
      </Fragment>

      <!-- Image -->
      <Fragment slot='image'>
        <div class='w-full flex justify-center'>
          <img
            src='src/assets/images/hero-image.webp'
            alt='Hero image'
            class='object-cover bg-white dark:p-10 rounded-lg'
          />
        </div>
      </Fragment>

      <!-- Social proof companies -->
      <!-- <Fragment slot='footer'>
        <div class='text-center mt-10' data-aos='fade-up'>
          <p class='text-lg font-semibold text-gray-700 dark:text-gray-300'>
            Estas inmobiliarias confían en nosotros
          </p>
        </div>

      <div
        class='mt-5 w-full flex flex-wrap items-center justify-center gap-x-12 gap-y-6 lg:mt-10 lg:gap-x-16 lg:gap-y-8'
        data-aos='fade-up'
      >
        <Icon
          name='logos/logo'
          class='text-3xl text-[#272727] dark:text-gray-300'
        />
      </div>
    </Hero> -->
    </Hero>

    <!-- Separator -->
    <hr class='mx-20 border-t border-gray-200 dark:border-gray-700' />

    <!-- 2. Problem Agitation -->
    <Content
      dataAos='fade-up'
      items={[
        {
          title: 'Tiempo Malgastado en Llamadas',
          description:
            'Pasas horas llamando a potenciales clientes, muchos no responden, y repites la misma información una y otra vez.',
          icon: 'tabler:phone-off'
        },
        {
          title: 'Desorganización y Caos',
          description:
            'Agendas caóticas con citas dispersas por la ciudad y un control manual abrumador de interesados y seguimientos.',
          icon: 'tabler:trending-down'
        },
        {
          title: 'Ineficiencia en Rutas',
          description:
            'Rutas diarias ineficientes debido a visitas mal programadas, resultando en tiempo y recursos desperdiciados.',
          icon: 'tabler:map-pin-off'
        },
        {
          title: 'Oportunidades Perdidas',
          description:
            'Pierdes potenciales clientes por no poder responder a tiempo todas las consultas, reduciendo tus posibilidades de cierre.',
          icon: 'tabler:businessplan'
        }
      ]}
      iconClass='w-10 h-10 p-2 rounded-full border-2 text-red-500 dark:text-red-200 border-red-500 dark:border-red-700'
    >
      <Fragment slot='title'> ¿Te suenan estos problemas? </Fragment>

      <Fragment slot='subtitle'>
        Muchas inmobiliarias todavía realizan este trabajo de <span
          class='font-semibold'>manera manual</span
        > e
        <span class='font-semibold'>ineficiente</span>. No solo gastando tiempo
        valioso, sino también perdiendo oportunidades de visitas.
      </Fragment>

      <Fragment slot='image'>
        <img
          src='src/assets/images/problem-agitation.webp'
          alt='Hero image'
          class='rounded-lg h-full w-full object-cover'
        />
      </Fragment>
    </Content>

    <!-- Separator -->
    <hr class='mx-20 border-t border-gray-200 dark:border-gray-700' />

    <!-- 3. Transformation -->
    <Content
      dataAos='fade-up'
      actions={[
        {
          variant: 'primary',
          text: 'Pruébalo gratis',
          href: getPermalink('/inquiry'),
          icon: 'tabler:rocket'
        },
        { text: 'Descubre cómo funciona', href: '#features' }
      ]}
      items={[
        {
          title: 'Reservas Automáticas',
          description:
            'Envía enlaces de reserva automáticamente y permite que los interesados agenden visitas cuando les convenga, con toda la información del inmueble incluida.',
          icon: 'tabler:calendar-plus'
        },
        {
          title: 'Optimización de Visitas',
          description:
            'Organiza las visitas de forma eficiente, agrupándolas por zona y horario, y mantén un registro claro de cada interesado y propiedad.',
          icon: 'tabler:route'
        },
        {
          title: 'Recordatorios Inteligentes',
          description:
            'Envía recordatorios automáticos para reducir significativamente las ausencias, maximizando tu tiempo y oportunidades.',
          icon: 'tabler:bell'
        },
        {
          title: 'Información Centralizada',
          description:
            'Accede instantáneamente a todos los datos relevantes de cada interesado, facilitando respuestas rápidas y personalizadas.',
          icon: 'tabler:table'
        }
      ]}
      isReversed
      iconClass='w-10 h-10 p-2 rounded-full border-2 text-primary dark:text-slate-200 border-primary dark:border-blue-700'
    >
      <Fragment slot='title'>
        AutoVisita: Tu Asistente Virtual Inmobiliario
      </Fragment>

      <Fragment slot='subtitle'>
        Automatiza, optimiza y potencia tu gestión de visitas inmobiliarias
      </Fragment>

      <Fragment slot='image'>
        <div class='w-full flex justify-center'>
          <img
            src='src/assets/images/transformation.webp'
            alt='Hero image'
            class='rounded-md h-full object-contain'
          />
        </div>
      </Fragment>
    </Content>

    <!-- Separator -->
    <hr class='mx-20 border-t border-gray-200 dark:border-gray-700' />

    <!-- 4. Social Proof -->
    <Testimonials
      dataAos='fade-up'
      title='Lo que dicen nuestros clientes'
      lgCols={2}
      testimonials={[
        {
          title: 'Revolucionario',
          testimonial:
            'AutoVisita nos está encantando. Hemos reducido el tiempo de gestión en un 60% y aumentado las visitas en un 30%. Una herramienta imprescindible.',
          name: 'Jose García',
          job: 'CEO of Emissary',
          brandLink: 'https://www.emissary.es/',
          image:
            '<img src="images/jose-garcia-emissary.jpg" alt="Jose Garcia" class="h-10 w-10 rounded-full border border-slate-200 dark:border-slate-600 min-w-full min-h-full object-cover" />'
        },
        {
          title: 'Muy contenta',
          testimonial:
            'Estamos atendiendo todas las solicitudes sin esfuerzo. Nuestros clientes están encantados de poder reservar cuando quieran y nosotros de no perder oportunidades. Ahora alquilamos un piso en la mitad de tiempo.',
          name: 'Ana',
          job: 'Directora de Operaciones en RENTAKE'
        }
      ]}
    />

    <!-- Separator -->
    <hr class='mx-20 border-t border-gray-200 dark:border-gray-700' />

    <!-- 5. Features -->
    <FeaturesContent
      dataAos='fade-up'
      id='features'
      sections={[
        {
          icon: 'tabler:circle-1-filled',
          title: 'Configuración Sencilla',
          subtitle: 'Empieza a automatizar tus visitas en minutos',
          points: [
            'Crea tus listados de propiedades en AutoVisita',
            'Establece tu horario de disponibilidad para cada propiedad',
            'Elige entre visitas simultáneas o secuenciales',
            'Define la duración de las visitas',
            'Optimiza tu tiempo evitando períodos de inactividad'
          ],
          image:
            "<img src='src/assets/images/features-1.webp' alt='Hero image'class='rounded-md h-[520px] w-full object-contain'/>"
        },
        {
          icon: 'tabler:circle-2-filled',
          title: 'Gestión Automática de Leads',
          subtitle: 'Convierte leads en visitas sin esfuerzo',
          points: [
            'Recibe leads directamente de plataformas como Idealista',
            'AutoVisita envía mensajes personalizados automáticamente',
            'Los leads reciben información detallada de la propiedad',
            'Incluye un enlace para solicitar una visita',
            'Reduce el tiempo de respuesta y aumenta las conversiones'
          ],
          image:
            "<img src='src/assets/images/features-2.webp' alt='Hero image'class='rounded-md h-[520px] w-full object-contain'/>",
          isReversed: true
        },
        {
          icon: 'tabler:circle-3-filled',
          title: 'Confirmaciones y Recordatorios',
          subtitle: 'Minimiza las cancelaciones y los plantones',
          points: [
            'Envío automático de solicitudes de confirmación',
            'Reduce significativamente los "no-shows" o plantones',
            'Notifica nuevas disponibilidades a otros leads interesados',
            'Rellena espacios vacíos automáticamente',
            'Maximiza la eficiencia de tu agenda'
          ],
          image:
            "<img src='src/assets/images/features-3.webp' alt='Hero image'class='rounded-md h-[520px] w-full object-contain'/>"
        },
        {
          icon: 'tabler:circle-4-filled',
          title: 'Simplifica tu Día a Día',
          subtitle: 'Céntrate en lo que mejor sabes hacer: vender',
          points: [
            'Consulta tus visitas programadas al inicio del día',
            'Acude a las propiedades según tu agenda optimizada',
            'Realiza las visitas sin preocuparte por la logística',
            'Aumenta tu productividad y cierra más contratos',
            'Mejora la satisfacción de tus clientes con un servicio eficiente'
          ],
          image:
            "<img src='src/assets/images/features-4.webp' alt='Hero image'class='rounded-md h-[550px] w-full object-contain'/>",
          isReversed: true
        },
        {
          icon: 'tabler:circle-5-filled',
          title: 'Próximamente: Chat Integrado',
          subtitle: 'Comunicación directa y organizada con tus leads',
          points: [
            'Chat con leads directamente desde la página de la propiedad',
            'Mantén todas las conversaciones organizadas por listado',
            'Los leads siempre saben con quién están hablando',
            'Acceso rápido al historial de conversaciones',
            'Mejora la experiencia del cliente y aumenta las conversiones'
          ]
        }
      ]}
    >
      <Fragment slot='title'>¿Cómo funciona AutoVisita?</Fragment>
      <Fragment slot='subtitle'>
        Descubre cómo nuestra plataforma te ayuda a automatizar y optimizar tu
        gestión de visitas inmobiliarias.
      </Fragment>
    </FeaturesContent>

    <hr class='mx-20 border-t border-gray-200 dark:border-gray-700' />

    <!-- 6. About Us -->
    <HeroText id='about' dataAos='fade-up'>
      <Fragment slot='title'>About Us</Fragment>
      <Fragment slot='subtitle'>
        Our mission is to save you time and help you grow by providing the best
        tools, custom solutions, and actionable insights.
      </Fragment>
      <Fragment slot='content'>
        <div class='flex items-center justify-center mb-8' data-aos='fade-up'>
          <img
            src='https://avatars.githubusercontent.com/u/25914304?v=4'
            alt='About us'
            class='shadow-lg object-cover rounded-full h-32 w-32 border border-gray-300 dark:border-gray-700'
          />
        </div>
        <p data-aos='fade-up'>
          Gearshift was founded by Daniel, an ex-Tesla quality engineer, who
          recognized a need for businesses to streamline their processes and
          make better decisions through automation and data. <span
            class='font-bold'
          >
            We believe that technology should be a tool for empowerment, not a
            source of frustration.
          </span>
        </p>
        <br />
        <p data-aos='fade-up'>
          What started as a small project in a co-working space has evolved into
          a company trusted by businesses across multiple industries, from car
          manufacturers, to real estate. We're not just developers — we're
          problem-solvers who work closely with our clients to understand their
          needs and deliver solutions that make an impact.
        </p>
        <br />
        <p data-aos='fade-up'>
          At GearShift, we are committed to providing exceptional service and
          support to our clients. Our team is always available to help you with
          any questions or issues you may have, ensuring that you get the help
          you need when you need it. Whether you are looking to automate
          processes, build custom software, or optimize your tech stack,
          GearShift is here to help you achieve your goals.
        </p>
      </Fragment>
    </HeroText>
    <!-- Pricing is hidden in gearshift.es -->
    <!-- 
  <Pricing
    id='pricing'
    title='Our prices'
    subtitle='Only pay for what you need'
    prices={[
      {
        title: 'pay as you go',
        subtitle: 'Optimal choice if you are just starting out',
        price: 2,
        crossed_price: 3,
        period: 'per sync task per month',
        items: [
          {
            description: 'Only pay for the sync tasks you need'
          },
          {
            description: 'Flexible usage based on your needs'
          },
          {
            description: 'Basic support'
          },
          {
            description: 'No long-term commitment'
          }
        ],
        callToAction: {
          text: 'Get started',
          href: '/sign-up'
        }
      },
      {
        title: 'standard',
        subtitle: 'Optimal choice for small teams',
        price: 5,
        crossed_price: 7,
        period: 'Per Month',
        items: [
          {
            description: 'Unlimited sync tasks'
          },
          {
            description: 'Automated daily syncs'
          },
          {
            description: 'Priority support'
          },
          {
            description: 'Advanced privacy controls'
          }
        ],
        callToAction: {
          text: 'Get started',
          href: '/sign-up'
        },
        hasRibbon: true,
        ribbonTitle: 'popular'
      },
      {
        title: 'enterprise',
        subtitle: 'Optimal choice for companies',

        items: [
          {
            description: 'Unlimited sync tasks'
          },
          {
            description: 'Unlimited accounts'
          },
          {
            description: 'Personalized setup and support'
          },
          {
            description: 'Custom features and integrations'
          }
        ],
        callToAction: {
          text: 'Contact us',
          href: '/contact'
        }
      }
    ]}
  /> -->

    <hr class='mx-20 border-t border-gray-200 dark:border-gray-700' />

    <FAQs
      dataAos='fade-up'
      title='Frequently Asked Questions'
      id='faq'
      items={[
        {
          title:
            'What’s the difference between your SaaS tools and custom software development?',
          description:
            'Our SaaS tools are ready-made solutions that cater to a wide range of users, both B2B and B2C, and are available to the public. If a client requires a customized version of one of our SaaS tools, we can work with them to implement a tailored solution that meets their specific needs.'
        },
        {
          title: 'How do your automation consulting services work?',
          description:
            'We start by auditing your current business processes to identify inefficiencies and areas for automation. Depending on your needs, we can recommend existing tools or develop custom software to streamline your operations, making your business more efficient and future-ready.'
        },
        {
          title: 'How do your software consulting services work?',
          description:
            'We work closely with your team to understand the end goal of the project, your business requirements, and any constraints you may have. Our team of experts will then develop a custom software solution that meets your needs, ensuring that it is scalable, secure, and user-friendly.'
        },
        {
          title:
            'Do you handle the full development process for custom software?',
          description:
            'Yes, our team provides end-to-end full-stack development services. From front-end design to back-end architecture, we handle everything to create a solution that’s fully integrated with your existing systems and tailored to your business requirements.'
        },
        {
          title: 'How do your data analytics services benefit my business?',
          description:
            'We collect and aggregate your business data, transforming it into intuitive dashboards that provide actionable insights. This enables you to make informed decisions, identify trends, and improve operational performance, all based on real-time data.'
        },
        {
          title: 'How long does it take to implement your software solutions?',
          description:
            "Implementation time varies depending on the complexity of the project. SaaS tools can be accessed immediately, while custom software and consulting projects are developed based on your unique requirements. We'll work with you to establish a clear timeline from the outset."
        },
        {
          title: 'How secure is my data with your services?',
          description:
            'We take data security seriously. All of our software solutions, including SaaS tools and custom developments, use advanced encryption methods, follow industry best practices, and comply with data protection regulations to ensure that your information is safe.'
        }
      ]}
    />

    <CallToAction
      dataAos='fade-up'
      actions={[
        {
          variant: 'primary',
          text: 'Get In Touch',
          href: getPermalink('/inquiry'),
          icon: 'tabler:rocket'
        }
      ]}
    >
      <Fragment slot='title'>
        Ready to Automate and Scale Your Business?
      </Fragment>

      <Fragment slot='subtitle'>
        Tell us about your needs, and we'll create the perfect solution for you.
        Whether it's a digital tool, custom software, or data analytics, our
        team is here to help you succeed.
      </Fragment>
    </CallToAction>

    <script>
      // Put this script in the pages that use AOS
      import { aosInit } from '~/scripts/aos'
      // runs on initial page load
      aosInit()
      // runs on view transitions navigation
      document.addEventListener('astro:after-swap', aosInit)
    </script>
  </div>
</Layout>
