---
import Brands from '~/components/Brands.astro';
import DemoVideo from '~/components/DemoVideo.astro';
import Features from '~/components/Features.astro';
import FooterHero from '~/components/FooterHero.astro';
import Hero from '~/components/Hero.astro';
import Testimonials from '~/components/Testimonials.astro';
import Transformation from '~/components/Transformation.astro';
import PageLayout from '~/layouts/PageLayout.astro';
---

<PageLayout hasBgPattern>
  <section id="hero">
    <Hero />
  </section>

  <section id="demovideo">
    <DemoVideo />
  </section>

  <section id="social-proof-brands">
    <Brands
      brands={[
        { name: 'Emissary', icon: 'logo-emissary' },
        { name: 'Rentake', icon: 'logo-rentake' },
        { name: 'Evene', icon: 'logo-evene', height: 8 },
      ]}
    />
  </section>

  <section id="transformation">
    <Transformation />
  </section>

  <section id="features">
    <Features />
  </section>

  <section id="social-proof">
    <Testimonials />
  </section>

  <section id="footer-hero">
    <FooterHero />
  </section>
</PageLayout>
