---
import PageLayout from '~/layouts/PageLayout.astro';
import BookdemoForm from '~/components/bookdemo/BookdemoForm.astro';
---

<PageLayout
  metadata={{
    title: 'Reserva una demo',
    description:
      'Reserva una demo con el equipo de Estavia para ver cómo nuestro agente de IA puede ayudarte a automatizar tu agencia inmobiliaria.',
  }}
>
  <section class="flex items-center h-full p-16">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="text-center mb-10">
        <h1 class="text-5xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
          Reserva una demostración
        </h1>
        <p class="text-xl text-gray-600">
          Rellena el formulario y nuestro equipo se pondrá en contacto contigo lo antes posible
        </p>
      </div>
      <BookdemoForm />
    </div>
  </section>
</PageLayout>
