---
import PageLayout from '~/layouts/PageLayout.astro';
import BookdemoForm from '~/components/bookdemo/BookdemoForm.astro';
---

<PageLayout
  metadata={{
    title: 'Reserva una demo',
    description:
      'Reserva una demo con el equipo de Estavia para ver cómo nuestro agente de IA puede ayudarte a automatizar tu agencia inmobiliaria.',
  }}
>
  <section class="flex items-center h-full p-16">
    <BookdemoForm />
  </section>
</PageLayout>
