---
// PageLayout.astro
// This layout is used for all pages

import Footer from '~/components/Footer.astro';
import Layout from './Layout.astro';
import { headerData, footerData } from '~/navigation';
import Header from '~/components/Header.astro';
---

<Layout>
  <slot name="header">
    <Header {...headerData} isSticky />
  </slot>
  <main>
    <slot />
  </main>

  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
